<p id = "notice"><%= flash[:notice] %></p>
<div class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <div role="main" class="inner cover">
      <h1 class="cover-heading pb-4">Share your recommended games.</h1>
      <p class="lead">This site is where you can find out about current trends by knowing which games everyone recommends. Please sign in and let us know what games you like.</p>
      <p class="lead">
        <a href="/games" class="btn btn-lg btn-secondary">Learn more</a>
      </p>
    </div>
  </div>
</div>