<section class="jumbotron text-center bg-secondary border border-dark border-3 mt-5">
  <div class="container">
    <h1 class="jumbotron-heading">Games lists</h1>
    <p class="lead text-dark">Find the game you want to buy by referring to the recommended games posted by everyone! I'm sure this page will be useful for those of you who are looking for games.</p>
    <p>
      <a href="/games/new" class="btn btn-primary my-2">投稿する</a>
      <a href="/games" class="btn btn-success my-2">投稿一覧</a>
      <a href="/users" class="btn btn-light my-2">投稿者一覧</a>
    </p>
  </div>
</section>


